* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
}

.container {
    max-width: 1536px;
    margin: 0 auto;
    padding: 20px;
    color: white;   
    background-color: #0E0E0E;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1109px;
    margin: 20px auto;
    padding-bottom: 10px;
    border-bottom: 1.5px solid rgb(148, 148, 148);
}

.phile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.phile > img {
    cursor: pointer;
    width: 120px;
}

.home ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.home li > a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    transition: color 0.3s;
}

li > a:hover {
    color: #D87D4A;
}

.shop img {
    width: 24px;
    cursor: pointer;
}

.container-1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}

.mark {
    max-width: 398px;
}

.text-1 {
    color: #888;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 400;
    font-size: 14px;
}

.text-2 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.2;
    margin-top: 20px;
}

.text-3 {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    margin-top: 20px;
    color: #ccc;
}

.btn-1 {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 3px;
    background-color: #D87D4A;
    color: white;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-1:hover {
    background-color: #f5a86e;
}

.photo-1 {
    position: relative;
    z-index: 2;
}

.photo-1 img {
    width: 600px;
    height: auto;
}




.container-3 {
    width: 1110px;
    height: 284px;
    margin: 0 auto;
    padding: 50px;
}


.container-3 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
}

.shop-1, .shop-2, .shop-3 {
    width: 350px;
    height: 204px;
    border-radius: 8px;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: visible;
}


.shop_mini-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shop_mini-1 img {
    height: 120px;
    position: relative;
    top: -35px; 
    margin-bottom: 10px;
}

.shop_mini-1 h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
    color: black;
    margin-bottom: 10px;
}

.shop_mini-1 a {
    font-weight: 500;
    font-size: 14px;
    color: #D87D4A;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.shop_mini-1 a::after {
    content: ' >';
    font-weight: bold;
    margin-left: 5px;
}



.product-container {
    background-color: #D87D4A;
    border-radius: 8px;
    width: 1110px;
    height: 560px;
    max-width: 1100px;
    margin: 50px auto;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    color: white;
}

.product-content {
    display: flex;
    align-items: center;
    gap: 50px;
}

.product-image {
    width: 410px;
    height: 493px;
    position: relative;
    top: 80px;
    right: 20px;
    z-index: 1;
}

.product-info h1 {
    font-size: 48px;
    line-height: 1.2;
}

.product-info p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 300px;
    margin: 20px 0;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #333;
}

.product-container::before {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    top: -200px;
    left: -200px;
}

.product-container::after {
    content: "";
    position: absolute;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    top: -250px;
    left: -250px;
}




.container-3 {
    max-width: 1110px;
    margin: 0 auto;
}


.section-1 {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.section-1 h2 {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 10px;
    position: absolute;
    left: 370px;
    top: 50px;
    z-index: 2;
}

.section-1 button {
    padding: 10px 20px;
    font-size: 14px;
    margin: 0 auto;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: absolute;
    left: 370px;
    z-index: 3;
}


.section-2 {
    display: flex;
    width: 1110px;
    margin: 0 auto;
    gap: 10px;
    margin-bottom: 20px;
}

.section-2 .item {
    width: 540px;
    height: 320px;
    margin: 0 auto;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.section-2 .item h2 {
    font-size: 20px;
    font-weight: bolder;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 50px;
}

.section-2 .item button:hover {
    background-color: #555;
}

.section-3 {
    width: 1110px;
    height: 588px;
    margin: 0 auto;
    gap: 30px;
    display: flex;
    align-items: center;    
    border-radius: 8px;
    padding: 40px;
}

.section-3 h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000000;
}

.section-3 p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

.section-3 img {
    width: 540px;
    height: 530px;
}


.footer_container {
    width: 1518px;
    height: 365px;
    margin: 0 auto;
    background-color: #000000;
    margin-top: 10px;
}

.foot {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.speak ul {
    display: flex;
    list-style: none;   
    gap: 20px;
}


.see a{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 17px;
    transition: all 0.6s ease;
}
 
.see a:hover {
    color: #555;
}

.speak a {
    text-decoration: none;
    color: #ffffff;
}

.texts {
    margin-left: 350px;
    width: 540px;
    height: 100px;
    color: #ffffff;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}


.imgs {
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
    gap: 20px;
}